/* HeaderOne Styles */
.iphone::before {
  position: absolute;
  content: '';
  background-image: url('../../../assets/images/iPhone.png');
  width: 27rem;
  height: 100rem;
  left: 50%;
  top: -2vh;
  transform: translateX(-50%);
  z-index: 2;
  background-repeat: no-repeat;
  /* background-position: 0; */
  background-size: contain;
}

@screen xl {
  .iphone::before {
    top: -15vh;
  }
}

.iphone::after {
  position: absolute;
  width: 70vw;
  height: 70vh;
  content: '';
  background-color: #d6b1ff;
  left: 50%;
  transform: translateX(-50%);
  bottom: -170%;
  border-top-left-radius: 120vw;
  border-top-right-radius: 120vw;
}

/* HeaderTwo Styles */
.circles::before {
  position: absolute;
  content: '';
  width: 52rem;
  height: 52rem;
  background-color: #d6b1ff;
  border-radius: 50%;
  right: -14rem;
  top: -10rem;
  z-index: -1;
}

.circles-2::before {
  width: 45rem !important;
  height: 45rem !important;
  background-color: #8c30f5 !important;
}

.circles-2::after {
  position: absolute;
  bottom: 26rem;
  content: '';
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  right: 30rem;
  z-index: -2;
  background-color: #2ec5ce;
}
.header .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header .overlay .path {
  width: 100%;
  height: 95%;
  top: 0;
  background: rgba(242, 247, 255, 0.7);
  backdrop-filter: blur(100px);
  clip-path: polygon(0 0, 100% 0, 100% 66%, 0 79.2%);
}

.header .rt-10 {
  transform: skew(-10deg) rotate(-7.2deg);
}

.circle-yellow {
  background: #ffc278;
}

.circle-blue {
  background: #75e3ea;
}

@screen 2xl {
  .circles::before {
    width: 55rem;
    height: 55rem;
    right: -15rem;
  }
}
